<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.monkey.auth.dao.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.mars.monkey.auth.dao.entity.Permission">
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mars.monkey.auth.dao.entity.Permission">
    insert into permission (permission_id, role_id, resources
      )
    values (#{permissionId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{resources,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mars.monkey.auth.dao.entity.Permission">
    update permission
    set role_id = #{roleId,jdbcType=BIGINT},
      resources = #{resources,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select permission_id, role_id, resources
    from permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select permission_id, role_id, resources
    from permission
  </select>
</mapper>